@use "variables";
@use "tools";

.carousel-img {
  object-fit: cover;
  height: 87vh;
}

.img-organization {
  object-fit: cover;
  height: 350px;
}

.justify-text {
  text-align: justify;
}

.icon {
  font-size: 50px;
  padding: 25px;
}

.icon-management {
  background-color: #ccc;
  color: var(--color-crimson);
}

.icon-ig {
  color: var(--color-crimson);
}

.icon-footer {
  color: #fff;
}

.title {
  padding: 25px 0;
}

.nav-part:hover {
  color: #fff;
}

.grow {
  transition: all 0.2s ease-in-out;
}

.grow:hover {
  transform: scale(1.05);
}

.grow-shadow {
  -webkit-transition: all 0.2s ease-in-out !important;
  transition: all 0.2s ease-in-out !important;

  @include tools.desktop {
    &:hover {
      -webkit-transform: scale(1.05) !important;
      -ms-transform: scale(1.05) !important;
      transform: scale(1.05) !important;
      box-shadow: 10px -15px 7px #c7c7c7 !important;
      //box-shadow: 0 0 5px 5px  #c7c7c7;
    }
  }
}

.grow-shadow-2 {
  -webkit-transition: all 0.2s ease-in-out !important;
  transition: all 0.2s ease-in-out !important;

  @include tools.desktop {
    &:hover {
      -webkit-transform: scale(1.05) !important;
      -ms-transform: scale(1.05) !important;
      transform: scale(1.05) !important;
      box-shadow: 10px 15px 7px #c7c7c7 !important;
      //box-shadow: 0 0 5px 5px  #c7c7c7;
    }
  }
}

.grow-shadow-inverse {
  -webkit-transition: all 0.2s ease-in-out !important;
  transition: all 0.2s ease-in-out !important;

  @include tools.desktop {
    &:hover {
      -webkit-transform: scale(1.05) !important;
      -ms-transform: scale(1.05) !important;
      transform: scale(1.05) !important;
      box-shadow: -10px -15px 7px #c7c7c7 !important;
      //box-shadow: 0 0 5px 5px  #c7c7c7;
    }
  }
}
.grow-shadow-inverse-2 {
  -webkit-transition: all 0.2s ease-in-out !important;
  transition: all 0.2s ease-in-out !important;

  @include tools.desktop {
    &:hover {
      -webkit-transform: scale(1.05) !important;
      -ms-transform: scale(1.05) !important;
      transform: scale(1.05) !important;
      box-shadow: -10px 15px 7px #c7c7c7 !important;
      //box-shadow: 0 0 5px 5px  #c7c7c7;
    }
  }
}

.marquee-content {
  display: flex;
  animation: scrolling 20s linear infinite;
}

.marquee-item {
  flex: 0 0 16vw;
  margin: 0 1vw;
}

.marquee-item img {
  display: block;
  width: 100%;
}

@keyframes scrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translatex(-144vw);
  }
}

.div-wBackground {
  height: 300px;
  width: 100%;
  background-image: url(../images/imagenes/fachada-01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  text-shadow: 1px 1px 20px black;
}

.services {
  height: 500px;
  width: 100%;
}

.carousel-div {
  width: fit-content;
  background-image: url(../images/imagenes/fondo-div.png);
  background-size: 100% 200px;
  background-repeat: no-repeat;
  padding: 50px;
}

.header-modal {
  width: 100%;
  background-image: url(../images/imagenes/fachada-01.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  object-fit: cover;
  height: 200px;
}

.title-modal {
  position: relative;
  margin: 0 auto;
  top: 60px;
  color: #fff;
}

.btn-cerrar {
  position: absolute;
  top: 10px;
  right: 10px;
}

.input-number {
  -moz-appearance: textfield;
  appearance: text-field;
}

.input-number::-webkit-inner-spin-button,
.input-number::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.pointer {
  cursor: pointer;
}

.carousel-caption {
  padding-top: 2.125rem !important;
  padding-bottom: 2.125rem !important;

  @include tools.desktopDiv {
    padding-top: 4.125rem !important;
  }
}
